<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#0b5fff">
<meta name="description" content="CashControl is een offline budget tracker voor inkomsten, uitgaven, doelen, statistieken en vakantiewisselkoersen.">
<title><%= title %></title>
<link rel="manifest" href="./manifest.json?v=20260608-2">
<link rel="icon" href="./icons/icon-192.png?v=20260608-2">
<link rel="stylesheet" href="./css/themes.css?v=20260608-2">
<link rel="stylesheet" href="./css/style.css?v=20260608-2">
<script src="./js/storage.js?v=20260608-2" defer></script>
<script src="./js/theme.js?v=20260608-2" defer></script>
<script src="./js/calculations.js?v=20260608-2" defer></script>
<script src="./js/budget.js?v=20260608-2" defer></script>
<script src="./js/transactions.js?v=20260608-2" defer></script>
<script src="./js/statistics.js?v=20260608-2" defer></script>
<script src="./js/currency.js?v=20260608-2" defer></script>
<script src="./js/i18n.js?v=20260608-2" defer></script>
<script src="./js/settings.js?v=20260608-2" defer></script>
<script src="./js/pwa.js?v=20260608-2" defer></script>
<script src="./js/app.js?v=20260608-2" defer></script>
