<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#0b5fff">
<meta name="description" content="CashControl is een offline budget tracker voor inkomsten, uitgaven, doelen, statistieken en vakantiewisselkoersen.">
<title><%= title %></title>
<link rel="manifest" href="./manifest.json">
<link rel="icon" href="./icons/icon-192.png">
<link rel="stylesheet" href="./css/themes.css">
<link rel="stylesheet" href="./css/style.css">
<script src="./js/theme.js" defer></script>
<script src="./js/storage.js" defer></script>
<script src="./js/calculations.js" defer></script>
<script src="./js/transactions.js" defer></script>
<script src="./js/currency.js" defer></script>
<script src="./js/i18n.js" defer></script>
<script src="./js/pwa.js" defer></script>
<script src="./js/app.js" defer></script>
